li {
  background-color: var(--always-white);
}

.list {
  margin-top: 40px;
  height: 26rem;
  overflow: hidden;
}

.list img {
  cursor: pointer;
}

.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font: var(--paragraph);
  color: var(--content-secondary);
}

@media (width >= 80em) {
  .list {
    overflow-y: scroll;
  }
}